In [14]:
import pandas as pd
import nltk
from nltk.stem import PorterStemmer
import re
from nltk.corpus import stopwords
from nltk import word_tokenize, pos_tag

In [15]:
df = pd.read_csv("tokenized_poems.csv", header=None)
df=df.fillna(" ")
df.columns = ["text"]
df.head()

                                                text
0  ['phenomen', 'woman', 'phenomen', 'woman', 'pr...
1  ['still', 'rise', 'still', 'rise', 'may', 'wri...
2  ['road', 'taken', 'road', 'taken', 'two', 'roa...
3  ['forget', 'forget', 'want', 'know', 'one', 't...
4  ['dream', 'dream', 'hold', 'fast', 'dream', 'd...

In [16]:
ps = PorterStemmer()
def clean_string(row):
    tokens = word_tokenize(row.lower())
    filtered_tokens = [ps.stem(word) for word in tokens if word not in stopwords.words('english') and bool(re.search("[-0123456789`>(</',;:!?.)]", word))==False]
    return filtered_tokens
search = "orgy"
search = clean_string(search)
print(search)

['orgi']

In [17]:
def counts(row):
    tot=0
    for item in search:
        tot+=row.count(item)
    return tot
df["counts"]=df["text"].apply(counts)

#print(df["counts"])

target_index = df["counts"].idxmax()

if df["counts"][target_index] < 1.0:
    print("Sorry, no match was found, try again!")
    #add while loop

In [18]:
df_poems = pd.read_csv("poems_collection.csv", header=None)
df_poems.head()

,0,1,2
0,author,text,title
1,Maya Angelou,Pretty women wonder where my secret lies.<br/>...,Phenomenal Woman
2,Maya Angelou,You may write me down in history<br/>With your...,Still I Rise
3,Robert Frost,"Two roads diverged in a yellow wood,<br/>And s...",The Road Not Taken
4,Pablo Neruda,I want you to know<br/>one thing. <br/><br/>Yo...,If You Forget Me

In [19]:
class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'

target_index = target_index + 1    
    
print(color.BOLD + df_poems.iloc[target_index,2].replace("<br/>","\n") + color.END)
print()
print()
print(df_poems.iloc[target_index,1].replace("<br/>","\n").strip())
print()
print("by:", df_poems.iloc[target_index,0].replace("<br/>","\n"))

Under One Small Star


My apologies to chance for calling it necessity.
My apologies to necessity if I'm mistaken, after all.
Please, don't be angry, happiness, that I take you as my due.
May my dead be patient with the way my memories fade.
My apologies to time for all the world I overlook each second.
My apologies to past loves for thinking that the latest is the first.
Forgive me, distant wars, for bringing flowers home.
Forgive me, open wounds, for pricking my finger.
I apologize for my record of minuets to those who cry from the depths.
I apologize to those who wait in railway stations for being asleep today at five a.m.
Pardon me, hounded hope, for laughing from time to time.
Pardon me, deserts, that I don't rush to you bearing a spoonful of water.
And you, falcon, unchanging year after year, always in the same cage,
your gaze always fixed on the same point in space,
forgive me, even if it turns out you were stuffed.
My apologies to the felled tree for the table's four legs.
My apologies to great questions for small answers.
Truth, please don't pay me much attention.
Dignity, please be magnanimous.
Bear with me, O mystery of existence, as I pluck the occasional thread from your train.
Soul, don't take offense that I've only got you now and then.
My apologies to everything that I can't be everywhere at once.
My apologies to everyone that I can't be each woman and each man.
I know I won't be justified as long as I live,
since I myself stand in my own way.
Don't bear me ill will, speech, that I borrow weighty words,
then labor heavily so that they may seem light.

by: Wislawa Szymborska